<div class="root">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Parabéns!</h2>
        <h4>Você contribuiu para o futuro!</h4>
        <img src="assets/img/medalha.png" alt="Medalha" class="img-responsive imagem">
      </div>
      <div class="col-md-8 texto">
        <p>Os profissionais de vendas e hustlers agradecem pela sua colaboração.</p>
        <p>{{resultado}}</p>
        <p>Saiba que você é uma pessoa privilegiada e com diferencial, o mercado precisa te conhecer e direcionar você para
          a vaga perfeita do seu perfil</p>
        <p>Muito obrigado por fazer parte da tribo de transformadores!</p>
      </div>
    </div>
  </div>
</div>
