<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
    </div>
  </div>
</div>
<form ngNativeValidate (ngSubmit)="sumValue()">
  <div class="container" *ngFor = "let question of questions">
    <h4>{{question.question}}</h4>
    <label class="radio" *ngFor="let alternative of question.alternatives">
      <input required class="subtotal checkmark" type="radio" [attr.name]="question.question" [value]="alternative.value" [attr.id]="alternative.id" [attr.class]="alternative.class" [attr.required]="true"> <span class="radio">{{alternative.answer}} {{alternative.value}}</span>
    </label>
  </div>
  <input type="submit" id="submit" value="Submit" />
</form>